@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-cafe-text/10;
  }

  body {
    @apply bg-cafe-bg text-cafe-text antialiased;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
